#notice {
	position: absolute;
	
	transition: all 0.4s ease-out;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
	width: 30%;
	height: 20%;
	background-color: rgba(100,100,100,.8);
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid white;
	box-sizing: content-box;
	
}